.strategy {
  background-color: #000;
  padding: 120px 0 80px 0;
  color: #fff;
}

.sectionTitle {
  text-align: left;
  margin-bottom: 4rem;
  padding-left: 2rem;
}

.sectionTitle h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.sectionTitle p {
  font-size: 1.2rem;
  color: #d3d3d3;
  max-width: 800px;
  margin: 0 auto;
}

.gridItem {
  background-color: #101010;
  border-radius: 8px;
  padding: 2rem;
  height: 100%;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.gridItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.number {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  opacity: 0.3;
}

.content {
  color: white;
  font-size: 1.1rem;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .sectionTitle h2,
  .bottomText p {
    font-size: 1.75rem;
  }
}

@media (max-width: 767px) {
  .sectionTitle h2,
  .bottomText p {
    font-size: 1.5rem;
  }
}

.bottomText {
  margin-top: 4rem;
  text-align: center;
}

.bottomText p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
}

.tableContainer {
  margin: 2rem 0;
  overflow-x: auto;
}

.comparisonTable {
  width: 100%;
  border-collapse: collapse;
  background: #101010;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}

.comparisonTable th,
.comparisonTable td {
  padding: 1.5rem;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 25%;
}

.comparisonTable th {
  background: #1a1a1a;
  font-weight: bold;
  color: #ea5337;
  font-size: 1.1rem;
}

.comparisonTable td {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
}

.comparisonTable tr.highlight {
  position: relative;
  outline: 3px solid #ea5337;
}

.comparisonTable tr.highlight td {
  background-color: #6e6e6e;
}

/* AOS 애니메이션 완료 후 스타일 적용 */

.comparisonTable tr.highlight td[data-aos].aos-animate {
  background-color: #6e6e6e;
}

@media (max-width: 768px) {
  .comparisonTable th,
  .comparisonTable td {
    padding: 1rem;
    font-size: 0.9rem;
  }
}
